[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/Limiana/ClickLib.git
[submodule "SpeedLib"]
	path = SpeedLib
	url = https://github.com/Jaksuhn/SpeedLib.git
